*{
	margin: 0;
	padding: 0;
}
#contenedor{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	background-color: green;
}
#cell{
	width: 40.5%;
	height: 80.5%;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 25% 25% 25% 25%;
	background-color: white;
}
#piezas{
	width: 40%;
	height: 80%;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 25% 25% 25% 25%;
	background-color: blue;
}
#dialogo{
	margin-top:15%;
	margin-left:25%;
	position: absolute;
	width: 50%;
	height: 40%;
	display: none;
	border-radius: 10%;
	
}

#text-contend{
	font-size: 50px;
	margin-left:25%;
}
#img-dialogo{
	margin-left: 30%;
	width: 50%;
	height:70%;
}
#b{
	margin-left: 40%;
}
